MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDoctorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorDTO" nillable="true" type="tns:DoctorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorDTO" nillable="true" type="tns:ArrayOfDoctorDTO" />
  <xs:complexType name="DoctorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Doctor_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialization" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorDTO" nillable="true" type="tns:DoctorDTO" />
  <xs:complexType name="ArrayOfPatientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientDTO" nillable="true" type="tns:PatientDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientDTO" nillable="true" type="tns:ArrayOfPatientDTO" />
  <xs:complexType name="PatientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAdmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCheckedOut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="tns:DoctorDTO" />
      <xs:element minOccurs="0" name="Doctor_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Insurance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patient_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDTO" nillable="true" type="tns:PatientDTO" />
  <xs:complexType name="ArrayOfTestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestDTO" nillable="true" type="tns:TestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestDTO" nillable="true" type="tns:ArrayOfTestDTO" />
  <xs:complexType name="TestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="tns:DoctorDTO" />
      <xs:element minOccurs="0" name="Doctor_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="tns:PatientDTO" />
      <xs:element minOccurs="0" name="Patient_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TestTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Test_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestDTO" nillable="true" type="tns:TestDTO" />
</xs:schema>